.projects {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-auto-columns: 1fr;
}

.projects__heading {
    text-align: center;
    margin-bottom: 4rem;
}
