@import '../../mixins';

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.hero__content {
    text-align: left;
    max-width: 70rem;

    .button {
        font-weight: 700;
    }
}

.hero__heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 4rem;

    @include breakpoint-up(sm) {
        font-size: 3.5rem;
    }

    @include breakpoint-up(lg) {
        font-size: 4rem;
    }

    span {
        font-weight: 700;
    }
}

.hero__paragraph {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
