@import '../../mixins';

.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.heroContent {
  text-align: left;
  max-width: 70rem;
}

.heroHeading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;

  @media only screen and (min-width: 350px) {
    font-size: 2.8rem;
  }

  @include breakpoint-up(sm) {
    font-size: 3.2rem;
  }

  @include breakpoint-up(lg) {
    font-size: 4rem;
  }

  span {
    font-weight: 700;
  }
}

.heroParagraph {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;

  @include breakpoint-up(lg) {
    font-size: 1.6rem;
  }
}
