@import '../../mixins';

.about__heading {
    text-align: center;
}

.about__paragraph {
    text-align: center;
    margin: 4rem 0 6rem 0;
}

.skills {
    column-count: 1;

    @include breakpoint-up(sm) {
        column-count: 2;
        column-gap: 6rem;
    }
}
