@import '../../utils';

.header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: $offset;
    box-shadow: 0 1px 4px 0 rgba($text, 0.15);

    @media only screen and (max-width: 650px) {
        & {
            padding: 0;
        }

        .header__logo {
            display: none;
        }
        .nav-toggle-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.5rem;
            height: 4.5rem;
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 11;
            background-color: $offset;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba($text, 0.2);
        }
        .nav {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 10;
            transition: transform 0.25s ease-in-out;
            background-color: $primary;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s ease-in-out;
        }
        .nav__list {
            display: flex;
            flex-direction: column;
        }
        .nav__item {
            margin: 0;
        }
        .nav__link {
            padding: 1rem 1.5rem;
            color: $offset;
            font-size: 1.8rem;
        }
    }
}
.header--nav-open {
    .nav {
        opacity: 0.9;
        visibility: visible;
    }
    .nav__list {
        margin-top: 6rem;
    }
    .nav-toggle {
        background-color: transparent;

        &::before {
            transform: rotate(135deg);
            top: 0;
        }
        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
        &::before,
        &::after {
            background-color: $offset;
        }
    }
    .nav {
        transform: translateY(0);
    }
    .nav-toggle-container {
        background-color: transparent;
        box-shadow: none;
    }
}
.nav-toggle-container {
    display: none;
    cursor: pointer;
}

.nav-toggle {
    display: inline-block;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
    }
    &::before {
        top: -0.8rem;
    }
    &::after {
        top: 0.8rem;
    }
    &,
    &::before,
    &::after {
        display: inline-block;
        width: 2.5rem;
        height: 2px;
        background-color: $text;
        border-radius: 1rem;
        transition: transform 0.3s ease-in-out,
            background-color 0.3s ease-in-out, top 0.3s ease-in-out;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 2.5rem;
    font-weight: 500;
}

.nav__list {
    display: flex;
    height: 100%;
}
.nav__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 2rem;
}
.nav__item:first-child {
    margin-left: 0;
}
.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 700;
    font-size: 1.5rem;
    color: $text;
    text-decoration: none;
    display: inline-block;
}
